.person {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px !important;
  flex-direction: column;
}
.fetching {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.fetch-header {
  font-weight: bold;
  font-size: 3rem;
}
.person-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  width: 35%;
  margin: 0 auto;
}
.card-img-top {
  object-fit: contain;
}
.person button {
  padding: 5px;
  margin-top: 10px;
}
.card-subtitle {
  font-weight: bold !important;
  font-size: 1.6rem;
}
.card-text {
  font-size: 14px !important;
}
