@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Noto+Sans+JP&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  /* font-family: "Ephesis", cursive; */
}
body {
  background-color: gainsboro !important;
  /* background-color: green !important; */
}
.links {
  display: flex;
  text-decoration: none;
}
.navbar-brand {
  margin-left: 10px;
}
.nav-item {
  margin-left: 10px;
}
.navbar-text {
  margin-left: 30%;
  color: black !important;
}
.d-block {
  height: 200px !important;
  object-fit: cover;
  z-index: -3 !important;
}
